In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss, mean_squared_error
import matplotlib.pyplot as plt

In [48]:
columns = [i for i in range(1,11)]
columns.append("label")
df = pd.read_csv("diabetes.txt",delimiter = "\t",names = columns,header = None)
df = df[1:]
print(df)
df = df.astype(float)

      1  2     3      4    5      6   7     8       9   10 label
1    59  2  32.1    101  157   93.2  38     4  4.8598   87   151
2    48  1  21.6     87  183  103.2  70     3  3.8918   69    75
3    72  2  30.5     93  156   93.6  41     4  4.6728   85   141
4    24  1  25.3     84  198  131.4  40     5  4.8903   89   206
5    50  1    23    101  192  125.4  52     4  4.2905   80   135
..   .. ..   ...    ...  ...    ...  ..   ...     ...  ...   ...
438  60  2  28.2    112  185  113.8  42     4  4.9836   93   178
439  47  2  24.9     75  225    166  42     5  4.4427  102   104
440  60  2  24.9  99.67  162  106.6  43  3.77  4.1271   95   132
441  36  1    30     95  201  125.2  42  4.79  5.1299   85   220
442  36  1  19.6     71  250  133.2  97     3  4.5951   92    57

[442 rows x 11 columns]

In [49]:
def sigmoid(z):
        return 1/(1 + np.exp(-z))

In [50]:
X_train, X_test, y_train, y_test = train_test_split(df[columns[:-1]], df[columns[-1]], test_size=0.33, random_state=42)

In [51]:
# X_train=[[0,0],
#         [0,1],
#         [1,0],
#         [1,1]]

In [59]:
x=len(df)-1
df[:x]

        1    2     3       4      5      6     7     8       9     10  label
1    59.0  2.0  32.1  101.00  157.0   93.2  38.0  4.00  4.8598   87.0  151.0
2    48.0  1.0  21.6   87.00  183.0  103.2  70.0  3.00  3.8918   69.0   75.0
3    72.0  2.0  30.5   93.00  156.0   93.6  41.0  4.00  4.6728   85.0  141.0
4    24.0  1.0  25.3   84.00  198.0  131.4  40.0  5.00  4.8903   89.0  206.0
5    50.0  1.0  23.0  101.00  192.0  125.4  52.0  4.00  4.2905   80.0  135.0
..    ...  ...   ...     ...    ...    ...   ...   ...     ...    ...    ...
437  33.0  1.0  19.5   80.00  171.0   85.4  75.0  2.00  3.9703   80.0   48.0
438  60.0  2.0  28.2  112.00  185.0  113.8  42.0  4.00  4.9836   93.0  178.0
439  47.0  2.0  24.9   75.00  225.0  166.0  42.0  5.00  4.4427  102.0  104.0
440  60.0  2.0  24.9   99.67  162.0  106.6  43.0  3.77  4.1271   95.0  132.0
441  36.0  1.0  30.0   95.00  201.0  125.2  42.0  4.79  5.1299   85.0  220.0

[441 rows x 11 columns]

In [87]:
# y_Test=[0,1,1,0]

In [88]:

X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

In [89]:
W = np.random.rand(10,1)
W.shape

(10, 1)

In [90]:
b = np.random.rand()
b

0.7009987372810103

In [91]:
X_train = X_train.T
X_train.shape

(10, 296)

In [92]:
X_train[0][0],W[0]

(51.0, array([0.15380328]))

In [93]:
X_train = X_train.T

In [94]:
numOfTrainSamples = X_train.shape[1]
numOfFeatures = X_train.shape[0]
Z = np.zeros(numOfTrainSamples)

In [95]:
y_train = np.expand_dims(y_train,axis =0)

In [100]:
y_train = y_train.astype(int)
for i in range(1):
    Z = np.dot(W.T,X_train.T,) + b
    print(y_train)
    print(Z)
    J = mean_squared_error(y_train,Z)
    print(J)
    dz = Z - y_train
    
    dw = np.dot(X_train.T,dz.T)/numOfTrainSamples

    # print(dw.shape)

    db = np.sum(dz,axis =1)/numOfTrainSamples
    alpha = 0.1
    W = W - alpha * dw
    b = b - alpha *db

[[154 192 116  81 122 259 191 292  55 107 210  91 253  85 252  59  78 200
   78 245 175  42 127  53  94 104 199 265 281 248 257 215 303 170  59 277
  209 138 198 124  96 288 225 265 101  55 198  51 252  64 220 131 212 142
  103 155 121  86 111  65 131  51 128 141  48 109 178  88  84 216 150  60
   96 190  74 279 182 160 245 276 174 180 150 196 138  97 246 321 308 109
   69 182 258 161 178 214  45 150 160  55 197 185 268 310 123  68  72 185
  144 147 168 178 246 151 127  83 332 152 109  90  66 214  85 129  89 259
  229 200  77  54  31 109 206 144 118  83 242 259  72 163 181 141  71 137
  195 179 102 131  47 235  77 198  93 162 225 275 183 306  81  55 146 196
  230 310  40 135 346  43 128  77 235  49  74  92  84 263 144 142 341 115
  158 273  85  88 220  39  80 172 217 336  52 272 115 110 131  71 275 118
   25 100 281 221 248 200 132  91  67 202  73  85 275 243  66 293 236 243
   87  39 217  92 296 292 142  50  53 104  75 120 142 143  99  65 116 233
  164  95  59 139 145 177 185  97  42 201 241  70  78  49 103  44 111 191
   47 182  58 155 151  79 104 143 152 170  75 200 124  91  49 163  53 283
  178 219 200 113 113  63 114 126 274  88 311  83  71 134 244  65 173  57
   68 141 270 134 202 148  64 302]]
[[223.47938394 262.77954269 266.65896536 236.35288529 247.79192468
  204.8678401  251.86091313 260.21707999 215.00600028 217.46488253
  174.42804726 229.84704891 284.59688933 240.13533543 184.54423372
  181.0777911  185.60249181 195.46558856 255.07246369 219.02844728
  207.89777254 167.89870968 196.62370897 215.62000659 208.02268303
  179.11040382 178.1806298  215.50290719 198.3471979  245.03674419
  234.64230045 251.06751007 212.62316144 258.53961532 226.85971685
  216.70394597 243.22645239 188.27648781 183.48799769 212.92703355
  212.06429458 208.28317407 235.70650062 202.80121687 141.25764626
  210.15287321 260.35041014 228.6477964  285.16671539 168.97173969
  240.07480148 298.3876677  251.72484181 184.87301717 228.57341938
  249.94333956 305.84367651 179.790234   206.93639982 240.5291082
  230.19553985 197.60316716 235.15285645 196.92798709 219.08302803
  238.02155867 169.2873298  203.78524894 342.08559255 218.27972772
  220.30487988 223.52441416 209.82942417 269.67185617 214.96898225
  245.79341999 163.80845751 196.30903241 225.35883932 191.87892332
  246.11108271 265.56745113 263.2141396  295.62148875 275.27558298
  218.79098393 221.80177369 211.49219738 244.38541353 229.88134106
  276.64924904 190.87032461 310.70578348 185.11984095 236.08742579
  216.35444786 197.67637421 166.42542659 211.60463118 183.2381576
  232.72011209 161.83198009 231.16815253 256.37669617 225.98016011
  251.10809099 165.15567487 221.87735607 199.41078996 213.73526835
  171.98161673 229.82273942 222.28434389 234.99887568 201.79642054
  198.49972649 235.46987318 133.1297283  238.04692249 199.42393721
  216.09092212 224.6533897  160.34157046 227.96615437 239.36545572
  251.92066382 255.57296161 197.06900741 173.76124443 219.9661739
  189.44446269 232.86225249 224.45293721 231.14747346 236.14345024
  156.59459141 227.53236281 221.084015   174.15413363 226.21189662
  182.88338168 217.96792955 155.76965228 248.16919956 232.15943322
  209.52784628 231.9433487  185.41615597 205.03059177 256.31002196
  160.76777482 243.05335651 204.8530777  180.26113746 199.24112936
  226.67173141 231.96395061 284.18601908 229.85299558 152.40465619
  230.35187146 240.96853803 284.99768669 244.42183318 142.05889431
  221.49148731 208.44924101 170.00701396 253.40492092 190.14691648
  238.65541268 210.61648614 159.83583584 204.53836237 173.70355442
  213.83397036 190.77900206 149.19416066 209.79014373 268.0233212
  251.17192332 210.03679664 191.05024545 195.65316527 324.52715666
  207.5252967  254.08323304 201.34399123 247.18956024 213.36437255
  204.67877121 191.01749683 202.94607354 219.39499492 216.84578643
  175.85465226 216.86919322 220.46628547 190.48811237 265.62024277
  164.31732584 202.52461853 270.00278163 199.67243342 191.51190824
  221.50865136 272.68367782 223.94338494 250.95098913 209.97038741
  215.03929668 267.01871505 192.42452437 204.19009815 254.53329364
  231.65949583 224.40152108 206.86392537 317.32606067 219.13978295
  259.13193333 211.2625774  271.105277   217.96618763 197.42625447
  234.02726026 199.86435807 265.66659829 214.82691176 266.19166296
  198.71930835 171.77238284 178.91272959 251.66886751 263.59760252
  260.13037657 242.26795817 253.08568914 199.59266365 235.49757949
  211.83250633 230.74980173 188.74038396 186.25029819 260.1095618
  151.59825872 200.48036592 225.36178081 218.14779072 197.60075459
  212.12053295 200.5918309  198.24046157 230.90628671 189.76447134
  192.34559394 153.0456759  212.26137325 257.09516454 152.23499
  233.79759324 201.49530889 220.60787239 246.83632021 194.05119906
  243.41913388 190.74350832 245.73186432 193.76285777 295.87311558
  159.48273544 178.7473033  242.75439249 220.53539839 228.08314002
  202.8701293  157.65109204 198.09631497 229.24206443 206.17740277
  233.0088472  233.66612145 222.72787376 245.58577384 235.52346521
  170.97034278 233.49728697 244.45328213 179.6468371  269.06764224
  247.04916386 175.06209015 198.23198481 206.59436752 207.2524475
  235.52033462]]
10205.56651204633

In [101]:
print(J)

10205.56651204633